@use "variable";

.description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 140px 100px 50px;
  background-color: variable.$color-wildSand;

  @media screen and (max-width: variable.$screen-size-820) {
    flex-direction: column;
    padding: 0 50px;
  }

  .site-logo {
    flex: 0 0 400px;

    @media screen and (max-width: variable.$screen-size-820) {
      flex: 0 0 300px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .detail {
    h1 {
      font-family: variable.$font-anton;
      color: variable.$color-blackPearl;
    }
    p {
      max-width: 500px;
      width: 100%;
      line-height: 30px;
      color: variable.$color-blackPearl;
    }

    @media screen and (max-width: variable.$screen-size-820) {
      flex-direction: column;
      align-items: center;
    }
  }
}

footer {
  padding: 0;
}
