@use "variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: variable.$color-piper;
  border-bottom: 1.1px solid variable.$color-blackPearl;

  .theme-dark & {
    background-color: variable.$color-blackPearl;
    border-bottom: 1.1px solid variable.$color-hotToddy;
  }

  .navbar-brand {
    flex: 0 0 70px;
    img {
      width: 100%;
    }
  }

  button {
    border: none;
    margin-right: 10px;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  .navbar-collapse {
    justify-content: end;

    .navbar-nav {
      display: flex;
      gap: 18px;

      .menu-link {
        display: block;
        color: variable.$color-wildSand;
        font-size: 0.9rem;
        font-weight: 300;
        font-family: variable.$font-roboto;
        height: 30px;
        transition: all 1s ease;
        padding-bottom: 5px;
        position: relative;
        text-decoration: none;

        .theme-dark & {
          color: variable.$color-hotToddy;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background: variable.$color-anzac;
          transform-origin: left center;
          transform: scaleX(0);
          transition: transform 0.5s ease;
        }

        &:hover::before {
          transform: scaleX(1);
        }
      }

      .menu-list {
        display: flex;
        justify-content: center;

        &.screen-mode {
          width: 100px;
          gap: 5px;
        }
      }

      .screen-type {
        display: flex;
        justify-content: space-around;
        border-radius: 15px;
        width: 50px;
        height: 24px;
        background-color: variable.$color-wildSand;
        position: relative;

        input[type="radio"] {
          opacity: 0;
        }

        .circle {
          content: "";
          position: absolute;
          top: 2px;
          left: 3px;
          width: 20px;
          height: 20px;
          background-color: variable.$color-mustard;
          border-radius: 50%;
          transition: all 0.3s linear;
          pointer-events: none;

          .theme-dark & {
            background-color: variable.$color-piper;
          }
        }

        input[type="radio"]:nth-child(2):checked {
          ~ .circle {
            left: 26px;
          }
        }
      }

      .light-wrapper,
      .dark-wrapper {
        flex: 0 0 20px;

        img {
          width: 100%;
        }
      }
    }
  }
}

main {
  .wrapper {
    padding: 110px 50px 30px;
    @media screen and (max-width: variable.$screen-size-575) {
      padding: 30px 20px;
    }

    h1 {
      margin: 0;
      text-align: center;
      font-size: 2.5rem;
      font-family: variable.$font-anton;
      color: variable.$color-blackPearl;
      letter-spacing: 1.2px;

      .theme-dark & {
        color: variable.$color-wildSand;
      }
    }

    p {
      margin-top: 3px;
      text-align: center;
      font-size: 0.8rem;
      font-style: italic;
      font-family: variable.$font-roboto;
      .theme-dark & {
        color: variable.$color-wildSand;
      }
    }

    .theme-dark & {
      background-color: variable.$color-blackPearl;
    }

    background-color: variable.$color-wildSand;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px 90px 50px;
      font-family: variable.$font-roboto;
      font-size: 0.8rem;

      @media screen and (max-width: 881px) {
        margin: 0px 30px 50px;
      }

      .input-mobile {
        label {
          display: none;
          .theme-dark & {
            color: variable.$color-wildSand;
          }

          @media screen and (max-width: 881px) {
            display: flex;
            padding-left: 5px;
          }
        }

        .search-moobile {
          margin: 0 0 10px;
          padding-left: 10px;
          display: none;
          border: 1px solid variable.$color-doveGray;
          border-radius: 20px;
          height: 30px;
          width: 100%;
          height: 40px;

          @media screen and (max-width: 881px) {
            display: block;
          }
        }
      }

      .form-wrapper {
        display: flex;

        .select-wrapper {
          flex: 1 1 100%;
          display: flex;
          flex-direction: column;
          justify-content: end;
          color: variable.$color-blackPearl;

          label {
            padding-left: 5px;

            .theme-dark & {
              color: variable.$color-wildSand;
            }
          }

          select {
            border: none;
            border: 1px solid variable.$color-doveGray;
            border-left: none;
            height: 40px;
            padding: 10px;
            font-size: 1rem;
            color: variable.$color-blackPearl;
            width: 100%;

            @media screen and (max-width: variable.$screen-size-881) {
              &.showType {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border: 1px solid variable.$color-doveGray;
              }
            }
          }
        }

        .search-wrapper {
          label {
            padding-left: 10px;
            .theme-dark & {
              color: variable.$color-wildSand;
            }
          }
          .search {
            flex: 1 1 100%;
            border: none;
            height: 40px;
            padding: 10px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border: 1px solid variable.$color-doveGray;
            color: variable.$color-blackPearl;
          }

          @media screen and (max-width: variable.$screen-size-881) {
            display: none;
          }
        }

        .search-button {
          max-width: 100%;
          width: auto;
          border: none;
          height: 40px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border: 1px solid variable.$color-doveGray;
          border-left: none;
          background-color: variable.$color-anzac;
          font-size: 1.1rem;
        }
      }
    }

    .shows-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      @media screen and (max-width: variable.$screen-size-1014) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width: variable.$screen-size-820) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: variable.$screen-size-400) {
        grid-template-columns: repeat(1, 1fr);
      }

      .show-list {
        border-radius: 15px;
        box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.5);
        height: 400px;
        transition: all ease 0.5s;

        .theme-dark & {
          box-shadow: 2px 5px 10px 0px rgba(140, 139, 139, 0.5);
          background-color: variable.$color-white;
        }

        &:hover {
          transform: translate(0px, -3px);
        }

        .imgframe {
          height: 200px;

          img {
            object-fit: cover;
            object-position: top left;
            width: 100%;
            height: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }

        .card-textbox {
          display: flex;
          flex-direction: column;
          max-height: 300px;
          padding: 10px;

          .card-text {
            font-family: variable.$font-raleway;
            font-size: 1.1rem;
            font-weight: 650;
            height: 40px;
          }

          .card-overview {
            font-family: variable.$font-roboto;
            font-size: 0.85rem;
            height: 90px;
            overflow: hidden;
            color: variable.$color-mondo;
            padding: 10px 0;
          }

          button {
            @include variable.button-style;
            height: 35px;
            transition: 0.4s;
            font-size: 0.9rem;
            margin-top: 5px;
            color: variable.$color-wildSand;
            font-family: variable.$font-roboto;
            .theme-dark & {
              background-color: variable.$color-piper;
            }
          }
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    padding-top: 30px;

    p {
      margin: 0;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: auto;
    max-width: 300px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    background-color: variable.$color-wildSand;
    box-shadow: 0px 0px 10px 0px rgba(175, 171, 171, 0.3);
    animation: fadeIn 0.5s forwards;

    .modal-imgframe {
      width: 100%;
      height: 70%;
      object-fit: cover;
      background-color: variable.$color-wildSand;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .modal-card-textbox {
      display: flex;
      flex-direction: column;
      padding: 10px;
      background-color: variable.$color-wildSand;

      .modal-card-text {
        font-family: variable.$font-raleway;
        font-size: 1.3rem;
        font-weight: 650;
      }

      .modal-card-overview {
        font-family: variable.$font-roboto;
        font-size: 0.8rem;
        overflow: hidden;
        color: variable.$color-mondo;
      }

      .close-modal {
        @include variable.button-style;
        margin-top: 10px;
        height: 40px;
        transition: 0.4s;
        font-size: 0.9rem;
        .theme-dark & {
          background-color: variable.$color-piper;
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}
